@font-face {
    font-family: "against";
    src: url("/fonts/against\ regular.ttf");
}

html {
    font-size: 62.5%;
}

:root {
    --background: #f6f6f6;
    --foreground: #175c75;
    --tertiary: #a72608;
}


body {
    background-color: var(--background);
    margin: 0;
    font-family: "Poppins";
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.navbar {
    margin: 1.5em 5em;
    display: flex;
    align-items: center;
}

.container-fluid {
    display: flex;
    align-items: center;

    .branding {
        display: flex;
        align-items: center;
        gap: 1.5em;
        cursor: pointer;

        .nav-logo {
            width: 22%;
        }
    }

    .navbar-brand {
        font-size: 3em;
        color: var(--foreground);
        font-family: "against";
    }

    .nav-links {
        display: flex;
        gap: 5em;

        li a{
            font-size: 1.8em;
            color: var(--foreground);
        }

        .cta {
            background-color: var(--tertiary);
            padding: .5em 2em;
            border-radius: 8rem;
            color: var(--background);
            font-weight: bold;
        }

        .active {
            font-weight: bold;
        }
    }
}


.hero {
    margin: 5em 8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--foreground);

    h1 {
        font-size: 5em;
        font-family: "against";

        .bold {
            font-weight: bold;
        }
    }

    .subhead {
        font-size: 2em;
        margin: 2em 0;
    }

    .left {
        width: 45%;
    }

    .get-started-cta {
        display: flex;
        gap: 2em;
        align-items: center;
        background-color: var(--tertiary);
        padding: 1em 2em;
        border-radius: 8em;
    }

    .get-started-btn {
        font-size: 2em;
        color: var(--background);
    }
    

    .check {
        width: 22px;
        height: 22px;
    }
}


.about-section {
    margin: 10em;
    display: flex;
    justify-content: space-between;
    // gap: 20em;

    .logo {
        img{
            width: 150%;
        }
    }

    .about-txt {
        width: 45%;
        text-align: right;
        display: flex;
        flex-direction: column;
        gap: 4em;

        .head {
            font-size: 5em;
            color: var(--foreground);
            font-family: "against";
        }

        .subhead {
            font-size: 1.7rem;
        }
    }
}