html {
    font-size: 62.5%;
}

:root {
    --background: #f6f6f6;
    --foreground: #084B83;
    --tertiary: #FF9D8F;
}


body {
    background-color: var(--background);
    margin: 0;
    font-family: "Poppins";
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.navbar {
    margin: 1.5em 5em;
    display: flex;
    align-items: center;
}

.container-fluid {
    display: flex;
    align-items: center;


    .navbar-brand {
        font-size: 3em;
    }

    .nav-links {
        display: flex;
        gap: 5em;

        li a{
            font-size: 1.5em;
            color: var(--foreground);
        }

        .cta {
            background-color: var(--tertiary);
            padding: .5em 2em;
            border-radius: 8rem;
            color: var(--background);
            font-weight: bold;
            

            :hover {
                background-color: #FFD5CF;
            }
        }

        .active {
            font-weight: bold;
        }
    }
}


.hero {
    margin: 5em 8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--foreground);

    h1 {
        font-size: 5em;

        .bold {
            font-weight: bold;
        }
    }

    .subhead {
        font-size: 2em;
        margin: 2em 0;
    }

    .left {
        width: 45%;
    }

    .get-started-cta {
        font-size: 2em;
        display: flex;
        gap: 2em;
        align-items: center;
    }
    

    .check {
        width: 22px;
        height: 22px;
    }
}